
    * {
        margin: 0;
        font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      }
      
      #heading {
        font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        line-height: 18px;
        font-size: 14px;
        color: #222222;
        text-align: center;
        width: 100%;
        height: 32px;
        background-color: #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #heading2 {
        width: 100%;
        /* height: 139px; */
        background-color: #ffffff;
        display: grid;
        top: 0;
        left: 0;
      
        position: fixed;
        z-index: 1;
      }
      #head1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
      }
      #head2 {
        display: flex;
      }
      #head11 {
        display: flex;
        width: 350px;
        height: 100%;
      
        justify-content: space-evenly;
        align-items: center;
      }
      #head11 h4:hover {
        cursor: pointer;
        color: #525151;
      }
      #head111 {
        display: flex;
        width: 350px;
        height: 100%;
      
        justify-content: space-evenly;
        align-items: center;
      }
      #head1111 {
        display: flex;
        width: 350px;
        height: 100%;
      
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
      }
      #head1111 img {
        width: 18px;
        height: 18px;
      }
      #head1111 img:hover {
        cursor: pointer;
      }
      #head1111 i:hover {
        cursor: pointer;
      }
      #head22 {
        display: flex;
        width: 80%;
      
        justify-content: space-between;
        margin-left: 185px;
        align-items: center;
      }
      #head22 h4:hover {
        cursor: pointer;
        color: #525151;
      }
      #head222 {
        display: flex;
        width: 60%;
      
        margin-left: 200px;
      }
      #head222 input {
        width: 300px;
        height: 50px;
        justify-content: center;
        align-items: center;
      }
      #head222 i {
        font-size: 30px;
        align-items: center;
        margin-top: 15px;
      }
      /* * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
      } */
      
      body {
        background: transparent;
      }
      
      #logoRP a img {
        width: 100px;
        height: 60px;
      }
      
      #navbarRP {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* position: relative;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1; */
      }
      
      #navbarRP img {
        width: 100%;
      }
      
      #navleftRP {
        /* float: left; */
        width: 52%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      
      #navleftRP > ul {
        display: flex;
      }
      
      #navleftRP > ul > li {
        padding: 0px 10px;
        list-style: none;
      }
      
      #navleftRP a {
        text-decoration: none;
        color: black;
      }
      
      #navleftRP a:hover {
        padding-bottom: 19px;
        border-bottom: 2px solid black;
      }
      
      #rightnavRP {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      
      .mm1RP {
        position: absolute;
        top: 150%;
        left: 0px;
        width: 100%;
        height: auto;
        box-shadow: 0px 10px 2px 3px lightblue;
        opacity: 0;
        visibility: hidden;
        transition: -1s;
        display: flex;
        padding: 10px 0px 10px 0px;
      }
      
      #navleftRP > ul > li:hover .mm1RP {
        opacity: 1;
        visibility: visible;
        top: 100%;
        background-color: white;
        /* margin-top: 1px; */
        /* background-color: lightgray; */
      }
      
      .mmitemsRP {
        flex-basis: 19%;
        margin: auto;
      }
      
      .mmitemsRP ul li {
        list-style: none;
        padding: 10px;
      }
      
      .mmitemsRP p {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      
      .mm2RP {
        position: absolute;
        top: 150%;
        left: 0px;
        width: 100%;
        height: auto;
        box-shadow: 0px 10px 2px 3px lightblue;
        opacity: 0;
        visibility: hidden;
        transition: -1s;
        display: flex;
        padding: 10px 0px 10px 0px;
      }
      
      #navleftRP > ul > li:hover .mm2RP {
        opacity: 1;
        visibility: visible;
        top: 100%;
        background-color: white;
        /* margin-top: 1px; */
        /* background-color: lightgray; */
      }
      
      .mmitemsRP {
        flex-basis: 24%;
        height: 500px;
        margin: auto;
      }
      
      .mmitemsRP ul li {
        list-style: none;
        padding: 3px;
      }
      
      .mmitemsRP p {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px;
        margin-left: 30px;
      }
      
      .mmitemsRP a {
        color: red;
      }
      .mmitemsRP h3 {
        margin-left: 35px;
        padding: 10px;
        font-weight: normal;
      }
      #rightnavRP input[type="text"] {
        width: 150px;
        padding: 6px;
      }
      
      #rightnavRP a {
        text-decoration: none;
        font-family: sans-serif;
        color: black;
      }
      
      .mm3RP {
        position: absolute;
        top: 150%;
        left: 0px;
        width: 20%;
        height: 200px;
        opacity: 0;
        background-color: white;
        visibility: hidden;
        transition: -1s;
        display: flex;
      }
      
      #navleftRP > ul > li:hover .mm3RP {
        opacity: 1;
        visibility: visible;
        top: 100%;
        background-color: white;
        margin-left: 27%;
        margin-top: 1px;
        /* background-color: lightgray; */
      }
      .color-PP > a {
        text-decoration: none;
        color: red;
      }
      .mmitems2RP {
        flex-basis: 80%;
        margin: auto;
      }
      
      .mmitems2RP ul li {
        list-style: none;
        padding: 3px;
      }
      
      .mmitems2RP h3 {
        margin-bottom: 10px;
        margin-top: 10px;
        color: lightpink;
      }
      
      .mmitems2RP a {
        color: red;
      }
      
      input.nosubmit {
        border: 1px solid #555;
        width: 50%;
        padding: 9px 4px 9px 40px;
        background: transparent
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
          no-repeat 13px center;
      }
      
      .nosubmit {
        border: none;
        padding: 0;
      }
      
      input[type="search"] {
        outline: none;
        border: 1px solid rgb(167, 167, 167);
      }
      
      #show:checked ~ #sicontainerRP {
        display: block;
      }
      
      .mmitemsRP p a {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .mmimageRP {
        margin: auto;
        width: 100%;
      }
      #body_content{
        margin-top: 50px;
      }
        #body1{
            width: 80%;
            height: 650px;
            
            margin: auto;
            display: flex;
          
            
        }
        #body11{
            width: 50%;
            height: 100%;
            
            display: grid;
            
        }
        #body11 h1{
            font-size: 50px;
            text-align: center;
            margin-top: 130px;
        }
        #body11 p{
            font-size: 25px;
            text-align: center;
            width: 70%;
            margin-left: 110px;
        }
        #body11 button{
            width: 140px;
            height: 45px;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 130px;
            border: 1px solid rgb(34, 34, 34);
            border-radius: 4px;
            transition: 700ms;
        }
        #body11 button:hover{
            background-color: #666464;
            color: whitesmoke;
            border-radius: 10px;
        }
        #body111{
            width: 50%;
            height: 100%;
            
        }
        #body2{
            width: 40%;
            height: auto;
            margin-top: 70px;
            margin-left: 160px;
            margin-bottom: 70px;
        }
        #body2 img{
            margin-bottom: 20px;
        }
        #body2 p{
           font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
           font-size: 16px;
            line-height: 25px;
            width: 90%;
            
        }
        #body3{
            width: 100%;
            height: 70px;
            
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }
        #body3 button{
            margin-left: 60px;
            width: 110px;
            height: 45px;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 130px;
            border: 1px solid rgb(34, 34, 34);
            border-radius: 4px;
            transition: 700ms;
        }
        #body3 button:hover{
            background-color: #666464;
            color: whitesmoke;
            border-radius: 10px;
        }
        #body3 h2{
            margin-left: 160px;
            font-weight: 100;
            
        }
        #body4{
            width: 80%;
            height: auto;
            margin: auto;
            display: flex;
            gap: 20px;
            margin-bottom: 500px;
            
        }
        #body4 div{
            margin: auto;
            
            transition: 600ms;
        }
        #body4 div:hover{
            cursor: pointer;
            
        }
        #body4 #desc{
            margin-top: 400px;
            
        }
            
        
        
       
        #desc i{
            margin-left: 200px;
            font-size: 25px;
        }
        
        
        #img img{
           width: 250px;
           position: absolute;
           transition: 600ms;
        }
        #img img:hover{
            opacity: 0;
            transform: scale(1.1);
        }
        #body5{
            display: flex;
            width: 80%;
            height: auto;
            margin: auto;
            margin-top: 60px;
    
        }
        #body5 img{
            width: 95%;
            margin-bottom: 20px;
        }
        #body5 p{
            margin-top: 5px;
        }
        #body6{
            margin-top: 110px;
            margin-bottom: 40px;
            width: 100%;
            height: 70px;
            
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }
        #body6 button{
            margin-left: 60px;
            width: 110px;
            height: 45px;
            margin: auto;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 130px;
            border: 1px solid rgb(34, 34, 34);
            border-radius: 4px;
            transition: 700ms;
        }
        #body6 button:hover{
            background-color: #666464;
            color: whitesmoke;
            border-radius: 10px;
        }
        #body6 h2{
            margin-left: 160px;
            font-weight: 100;
            
        }
        #body7{
            width: 80%;
            height: auto;
            margin: auto;
            display: flex;
            gap: 20px;
            margin-bottom: 100px;
            
        }
        #body7 div{
            margin: auto;
            
            transition: 600ms;
        }
        #body7 div:hover{
            cursor: pointer;
            
        }
        #body7 #desc{
            margin-top: 400px;
            
        }
            
        
        
       
        #desc i{
            margin-left: 200px;
            font-size: 25px;
        }
        
        
        #img img{
           width: 250px;
           position: absolute;
           transition: 600ms;
        }
        #img img:hover{
            opacity: 0;
            transform: scale(1.1);
        }
        #body8{
            display: flex;
            
            width: 80%;
            height: 190px;
            
            margin: auto;
            
            margin-bottom: 100px;
        }
        #body8 div{
            padding-left: 20px;
            margin: auto;
            width: 30%;
            height: 150px;
            border: 1px solid #dbdbdb ;
            
            
        }
        #footer{
            width: 100%;
            height: 400px;
            background-color: #222222;
            color: aliceblue;
            display: flex;
            margin: auto;
            
        }
        #footer div{
           line-height: 30px;
           margin: auto;
        }
        #footer div:nth-child(1){
            margin-top: 5px;
        }
        #footer div:nth-child(2){
            margin-top: 5px;
        }
        #footer div:nth-child(3){
            margin-top: 5px;
        }
        #footer div:nth-child(4){
            margin-top: 5px;
        }
        #footer h5{
            font-weight: 100;
            font-size: 16px;
        }
        #footer h5:hover{
            cursor: pointer;
        }
        #footer i:hover{
            cursor: pointer;
        }
        #footer img{
            width: 18px;
            height: 18px;
            border-radius: 30px;
        }
        #footer i{
            margin-left: 30px;
            font-size: 22px;
        }
        #footer2{
            height: 50px;
            background-color: #222222;
            color: aliceblue;
            
            
            
        }
        #footer2 h6{
            font-size: 13px;
            font-weight: 300;
            margin-left: 100px;
            
        }
        .hidden {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(+100%);
        transition: all 1s;
      }
      .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
      }
      @media all and (max-width: 767px){
        *{
            margin: 0;
            
           
        }
        #heading{
            width: 100%;
        }
        #heading2{
            display: flex;
            margin: auto;
            width: 100%;
        }
        img{
            width: 120px;
        }
        #footer{
            width: auto;
            height: auto;
            margin: auto;
            display: grid;
        }
        #body4{
            display: grid;
        }
        #body7{
            display: grid;
        }
        #body2{
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
            margin-top: 350px;
            margin-bottom: 100px;
           
        }
      }  
    
      #page_signup{
    
        /* border:1px solid red; */
        width: 30%;
        height: 500px;
        margin-left: 31%;
        margin-top: 30px;
    }
    
    #page_signup h1{
        /* border:1px solid green; */
    font-family:" Nimbus Sans Extended D", Helvetica, Arial, sans-serif;
        text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 350px;
    margin: auto;
    }
    
    .page_signup_p{
        /* border:1px solid black; */
        width: 380px;
        font-size: 18px;
        text-align: center;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    .container_radio{
        /* position: absolute; */
       margin-left: 60px;
       /* border: 1px solid red; */
       text-align: center;
    
       
    }
    
    .page_signup_p2{
    
        margin-left: 10px;
    }
    .container_checkbox{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        margin-top: 15px;
        
    }
    
    .mainpage_input2{
        width: 80%;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #727272;
        margin-left: 35px;
    }
    
    .mainpage_input2::placeholder{
        padding-left: 10px;
        font-size: 15px;
    }
    
    #main_signup{
        /* border:1px solid black; */
        width: 80%;
        height: 35px;
        border-radius: 5px;
        margin-left: 35px;
        background-color: #222222;
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
    
    .main_signup_foot{
        /* border: 1px solid grey; */
        text-align: center;
        font-size: 16px;
        width:80%;
        margin-left: 30px;
    }
    
    #search{
        background-color: white;
        border: 1px solid black;
    }

    
    /*   signup  funciton */

    body{
        overflow-y:scroll;
    }
    
    
    
    #container_sm{
        position: relative;
          /* border: 1px solid red; */
          width: 30%;
          height: 500px;
          margin: auto;
          margin-top: -325rem;
          background-color: white;
          border-radius: 10px;
          display: none;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          /* z-index: 1; */
         
         
      }
      
      .cont_top_sm{
          border: 1px solid black;
          height: 100px;
          border-top: none ;
          border-left: none;
          border-right: none;
          border-color: #e6e6e6;
          
      }
      
      .cont_top2_sm{
          border: 0;
          height: 50%;
      }
      
      #cont_comeon_sm{
          /* border: 1px solid grey; */
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          font-weight: 400;
          font-size: 22px;
          color: #222;
          margin-left: 25px;
         
      }
      
      #cross_sm{
          /* border: 1px solid red; */
          cursor: pointer;
          width: 20px;
          margin-top: 10px;
          margin-left: 14rem;
          
      }
      #cross_sm:hover{
          background-color: #f1f1f1;
          border-radius: 5px;
      }
      #container_top_content_sm{
          /* border: 1px solid purple; */
          height: 30px;
          display: flex;
          margin-top:20px;
         
      }
      .container_top_main_signup_sm{
          /* border: 1px solid  brown; */
          margin-left: 20px;
          cursor: pointer;
          background: transparent;
          border: 0;
          outline: none;
          position: relative;
          margin-top: -5px;
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          
          
          
      }
      .container_top_main_login_sm{
          /* border: 1px solid  brown; */
          margin-left: 10px;
          cursor: pointer;
          background: transparent;
          border: 0;
          outline: none;
          position: relative;
         
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          margin-top: -5px;
          /* text-decoration: underline; */
          
      }
      /*      form      */
      #signup_form_sm{
         
          height: 50%;
          display: grid;
          
      
         
      }
      
      .input_text_sm{
          margin-top: 10px;
          margin-left: 35px;
          display: block;
          font-weight: 300;
          font-size: 14px;
         
      } 
       #signup_form_sm input{
          /* display: block; */
          height: 40px;
          width: 80%;
         margin-left: 35px;
          border-radius: 10px;
        padding-left: 20px;
         
          border:1px solid lightslategray;
      } 
      #signup_form_sm input:hover{
          border: 1px solid black;
      }
      
      
      
      
      
      #scrollbar_sm{
          float:left;
          height: 380px;
      overflow-y: auto;
      /* border: 1px solid red; */
      }
      .policy_sm{
          /* border:1px solid black; */
          width: 80%;
          margin-left: 35px;
          margin-top: 10px;
      }
      
      .policy2_sm{
          /* border:1px solid gray; */
         
          margin-left: -30px;
          margin-top: 30px;
      }
      #signup_btn_sm{
          width: 80%;
          height: 50px;
          background-color: #222222;
          color: white;
          border-radius: 10px;
          font-weight: 700;
          font-size: 16px;
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          margin-left: 45px;
          border: none;
          margin-top: 25px;
      
      }
      #signup_btn_sm:hover{
          background-color: #727272;
      }
      #OR_sm{
      text-align: center;
          margin-top: 20px;
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          font-weight: 400;
          font-size: 16px;
      }
      
      .checkbox_sm{
          display: inline-flex;
          /* border: 1px solid red; */
          align-items: center;
          cursor: pointer;
          margin-left: -50px;
          width: 110%;
          height: 60px;
          
      }
      .social_btn_sm{
          height: 40px;
          width: 80%;
         margin-left: 50px;
          border-radius: 10px;
          margin-top: 10px;
          background: transparent;
         
          cursor: pointer;
        
      }
      .socail_img_sm{
          width: 20px;
          margin-left: -80%;
          margin-top: 5px;
          /* border: 1px solid red; */
          
      }
      .socail_text_sm{
          
          font-weight: 700;
          font-size: 16px;
          font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
          margin-top: -20px;
      }
      .socail_text_sm2{
          font-weight: 700;
          font-size: 16px;
          font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
          margin-top: -20px;
      }
      
      
      /*sign in*/
      #signin_form_sm{
         
          height: 50%;
          display: grid;
         
      }
      
      .input_text_sm2{
          margin-top: 10px;
          margin-left: 35px;
          display: block;
          font-weight: 300;
          font-size: 14px;
         
      } 
       #signin_form_sm input{
          /* display: block; */
          height: 40px;
          width: 80%;
         margin-left: 35px;
          border-radius: 10px;
          padding-left: 20px;
         
          border:1px solid lightslategray;
      } 
      #signin_form_sm input:hover{
          border: 1px solid black;
      }
      
      
      
      #scrollbar_sm2{
          float:left;
          height: 370px;
      overflow-y: auto;
      /* border: 1px solid red; */
      width: 100%;
      }
      
      
      
      
      .policy2_sm2{
        
         width: 100%;
          margin-left: -90px;
          margin-top: 20px;
      }
      .forget_sm2{
      
      margin-left: 40px;
      
      }
      #signin_btn_sm{
          width: 80%;
          height: 50px;
          background-color: #222222;
          color: white;
          border-radius: 10px;
          font-weight: 700;
          font-size: 16px;
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          margin-left: 45px;
          border: none;
          margin-top: 10px;
      
      }
      #signin_btn_sm:hover{
          background-color: #727272;
      }
      #OR_sm2{
          text-align: center;
          margin-top: 20px;
          font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
          font-weight: 400;
          font-size: 16px;
      }
      
      .checkbox_sm2{
          display: inline-flex;
          /* border: 1px solid red; */
          align-items: center;
          cursor: pointer;
          margin-left: -95px;
          width: 110%;
          height: 60px;
          
      }
      .social_btn_sm2{
          height: 40px;
          width: 80%;
         margin-left: 50px;
          border-radius: 10px;
          margin-top: 10px;
          background: transparent;
         
          cursor: pointer;
        
      }
      .socail_img_sm2{
          width: 20px;
          margin-left: -80%;
          margin-top: 5px;
          /* border: 1px solid red; */
          
      }
      .socail_text_sm2{
          
          font-weight: 700;
          font-size: 16px;
          font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
          margin-top: -20px;
      }
      .socail_text_sm2{
          font-weight: 700;
          font-size: 16px;
          font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
          margin-top: -20px;
      }
      
       #signup_form_sm{
          display: none;
      }
      #signin_form_sm{
          display: block;
      } 
      .container_top_main_signup_sm{
          text-decoration: underline;
          transition: text-decoration-color 300ms;
      }
      .container_top_main_login_sm{
          text-decoration: none ;    
      }
      
      #transfertosignup_sm{
          border: none;
          background-color: white;
          font-size: 16px;
          cursor: pointer;
          margin-left: 30%;
          margin-top: 20px;
      }
    
      .error_name{
          margin-left: 35px;
      }
    
      .error_email{
        margin-left: 35px;
      }
    
      .error_pass{
        margin-left: 35px;
      }
      .error{
        margin-left: 35px;
      }
      
      
      /*  media queries */
      
      
      @media only screen and (max-width:480px){
      
          #container_sm{
              position: relative;
                border: 1px solid red;
                width: 100%;
                height: 620px;
                margin: auto;
                margin-top: 20px;
            }
           
            #scrollbar_sm{
              height: 500px;
          /* border: 1px solid red; */
          }
      
      }
      
      
      
          .hidden {
          opacity: 0;
          filter: blur(10px);
          transform: translateX(-100%);
          transition: all 1s;
        }
        .show {
          opacity: 1;
          filter: blur(0);
          transform: translateX(0);
        }  
      
        .animate {
          -webkit-animation: animatezoom 0.6s;
          animation: animatezoom 0.6s
        }
        
        @-webkit-keyframes animatezoom {
          from {-webkit-transform: scale(0)} 
          to {-webkit-transform: scale(1)}
        }
          
        @keyframes animatezoom {
          from {transform: scale(0)} 
          to {transform: scale(1)}
        }
      

        #mens_data{
          /* border: 2px solid red; */
          height: fit-content;
          width: 95%;
          
          margin-right: 0;
          display: grid;
          grid-template-columns: repeat(4,1fr);
          /* grid-template-rows: repeat(5,300px); */
          gap: 10px;
          justify-content: space-around;
          margin-left: 20px;
          
      }
      
      #mens_data div{
          /* border: 1px solid  black; */
          width: 90%;
          margin-top: 10px;
         ;  
      }
      
      #mens_data div img{
          width: 100%;
          height: 350px;
      }
      
      #mens_data div h5{
          color: #737484;
          font-size: 16px;
          font-weight: 400;
          font-style: normal;
          margin-top: 20px;
      }
      #mens_data div h2{
          font-size: 20px;
          font-weight: 700;
          font-style: normal;
          color: #222222;
          margin-top: 0px;
      }
      
      #mens_data div p{
          color: #222222;
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
          margin-top: 0px;
      }
      
      #mens_data div #mens_price{
           font-size: 18px;
          margin-top: 25px;
      
      }
      #mens_data div #wishlist_logo{
          width: 20px;
          height: 20px;
          margin-left: 92%;
      }
      
/*----------------------*/
      
      #mens_data2{
        /* border: 2px solid red; */
        height: fit-content;
        width: 95%;
        
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        /* grid-template-rows: repeat(5,300px); */
        gap: 10px;
        justify-content: space-around;
        margin-left: 20px;
        
    }
    
    #mens_data2 div{
        /* border: 1px solid  black; */
        width: 90%;
        margin-top: 10px;
       ;  
    }
    
    #mens_data2 div img{
        width: 100%;
        height: 350px;
    }
    
    #mens_data2 div h5{
        color: #737484;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        margin-top: 20px;
    }
    #mens_data2 div h2{
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        color: #222222;
        margin-top: 0px;
    }
    
    #mens_data2 div p{
        color: #222222;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        margin-top: 0px;
    }
    
    #mens_data2 div #mens_price{
         font-size: 18px;
        margin-top: 25px;
    
    }
    #mens_data2 div #wishlist_logo{
        width: 20px;
        height: 20px;
        margin-left: 92%;
    }
    