body{
    overflow-y:scroll;
}



#container_sm{
    position: relative;
      /* border: 1px solid red; */
      width: 30%;
      height: 500px;
      margin: auto;
      margin-top: -230rem;
      background-color: white;
      border-radius: 10px;
      display: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      /* z-index: 1; */
     
     
  }
  
  .cont_top_sm{
      border: 1px solid black;
      height: 100px;
      border-top: none ;
      border-left: none;
      border-right: none;
      border-color: #e6e6e6;
      
  }
  
  .cont_top2_sm{
      border: 0;
      height: 50%;
  }
  
  #cont_comeon_sm{
      /* border: 1px solid grey; */
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-size: 22px;
      color: #222;
      margin-left: 25px;
     
  }
  
  #cross_sm{
      /* border: 1px solid red; */
      cursor: pointer;
      width: 20px;
      margin-top: 10px;
      margin-left: 14rem;
      
  }
  #cross_sm:hover{
      background-color: #f1f1f1;
      border-radius: 5px;
  }
  #container_top_content_sm{
      /* border: 1px solid purple; */
      height: 30px;
      display: flex;
      margin-top:20px;
     
  }
  .container_top_main_signup_sm{
      /* border: 1px solid  brown; */
      margin-left: 20px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
      margin-top: -5px;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      
      
      
  }
  .container_top_main_login_sm{
      /* border: 1px solid  brown; */
      margin-left: 10px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
     
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      margin-top: -5px;
      /* text-decoration: underline; */
      
  }
  /*      form      */
  #signup_form_sm{
     
      height: 50%;
      display: grid;
      
  
     
  }
  
  .input_text_sm{
      margin-top: 10px;
      margin-left: 35px;
      display: block;
      font-weight: 300;
      font-size: 14px;
     
  } 
   #signup_form_sm input{
      /* display: block; */
      height: 40px;
      width: 80%;
     margin-left: 35px;
      border-radius: 10px;
    padding-left: 20px;
     
      border:1px solid lightslategray;
  } 
  #signup_form_sm input:hover{
      border: 1px solid black;
  }
  
  
  
  
  
  #scrollbar_sm{
      float:left;
      height: 380px;
  overflow-y: auto;
  /* border: 1px solid red; */
  }
  .policy_sm{
      /* border:1px solid black; */
      width: 80%;
      margin-left: 35px;
      margin-top: 10px;
  }
  
  .policy2_sm{
      /* border:1px solid gray; */
     
      margin-left: -30px;
      margin-top: 30px;
  }
  #signup_btn_sm{
      width: 80%;
      height: 50px;
      background-color: #222222;
      color: white;
      border-radius: 10px;
      font-weight: 700;
      font-size: 16px;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      margin-left: 45px;
      border: none;
      margin-top: 25px;
  
  }
  #signup_btn_sm:hover{
      background-color: #727272;
  }
  #OR_sm{
  text-align: center;
      margin-top: 20px;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
  }
  
  .checkbox_sm{
      display: inline-flex;
      /* border: 1px solid red; */
      align-items: center;
      cursor: pointer;
      margin-left: -50px;
      width: 110%;
      height: 60px;
      
  }
  .social_btn_sm{
      height: 40px;
      width: 80%;
     margin-left: 50px;
      border-radius: 10px;
      margin-top: 10px;
      background: transparent;
     
      cursor: pointer;
    
  }
  .socail_img_sm{
      width: 20px;
      margin-left: -80%;
      margin-top: 5px;
      /* border: 1px solid red; */
      
  }
  .socail_text_sm{
      
      font-weight: 700;
      font-size: 16px;
      font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
      margin-top: -20px;
  }
  .socail_text_sm2{
      font-weight: 700;
      font-size: 16px;
      font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
      margin-top: -20px;
  }
  
  
  /*sign in*/
  #signin_form_sm{
     
      height: 50%;
      display: grid;
     
  }
  
  .input_text_sm2{
      margin-top: 10px;
      margin-left: 35px;
      display: block;
      font-weight: 300;
      font-size: 14px;
     
  } 
   #signin_form_sm input{
      /* display: block; */
      height: 40px;
      width: 80%;
     margin-left: 35px;
      border-radius: 10px;
      padding-left: 20px;
     
      border:1px solid lightslategray;
  } 
  #signin_form_sm input:hover{
      border: 1px solid black;
  }
  
  
  
  #scrollbar_sm2{
      float:left;
      height: 370px;
  overflow-y: auto;
  /* border: 1px solid red; */
  width: 100%;
  }
  
  
  
  
  .policy2_sm2{
    
     width: 100%;
      margin-left: -90px;
      margin-top: 20px;
  }
  .forget_sm2{
  
  margin-left: 40px;
  
  }
  #signin_btn_sm{
      width: 80%;
      height: 50px;
      background-color: #222222;
      color: white;
      border-radius: 10px;
      font-weight: 700;
      font-size: 16px;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      margin-left: 45px;
      border: none;
      margin-top: 10px;
  
  }
  #signin_btn_sm:hover{
      background-color: #727272;
  }
  #OR_sm2{
      text-align: center;
      margin-top: 20px;
      font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
  }
  
  .checkbox_sm2{
      display: inline-flex;
      /* border: 1px solid red; */
      align-items: center;
      cursor: pointer;
      margin-left: -95px;
      width: 110%;
      height: 60px;
      
  }
  .social_btn_sm2{
      height: 40px;
      width: 80%;
     margin-left: 50px;
      border-radius: 10px;
      margin-top: 10px;
      background: transparent;
     
      cursor: pointer;
    
  }
  .socail_img_sm2{
      width: 20px;
      margin-left: -80%;
      margin-top: 5px;
      /* border: 1px solid red; */
      
  }
  .socail_text_sm2{
      
      font-weight: 700;
      font-size: 16px;
      font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
      margin-top: -20px;
  }
  .socail_text_sm2{
      font-weight: 700;
      font-size: 16px;
      font-family:"Farfetch Basis", "Helvetica Neue", Arial, sans-serif ;
      margin-top: -20px;
  }
  
   #signup_form_sm{
      display: none;
  }
  #signin_form_sm{
      display: block;
  } 
  .container_top_main_signup_sm{
      text-decoration: underline;
      transition: text-decoration-color 300ms;
  }
  .container_top_main_login_sm{
      text-decoration: none ;    
  }
  
  #transfertosignup_sm{
      border: none;
      background-color: white;
      font-size: 16px;
      cursor: pointer;
      margin-left: 30%;
      margin-top: 20px;
  }

  .error_name{
      margin-left: 35px;
  }

  .error_email{
    margin-left: 35px;
  }

  .error_pass{
    margin-left: 35px;
  }
  .error{
    margin-left: 35px;
  }
  
  
  /*  media queries */
  
  
  @media only screen and (max-width:480px){
  
      #container_sm{
          position: relative;
            border: 1px solid red;
            width: 100%;
            height: 620px;
            margin: auto;
            margin-top: 20px;
        }
       
        #scrollbar_sm{
          height: 500px;
      /* border: 1px solid red; */
      }
  
  }
  
  
  
      .hidden {
      opacity: 0;
      filter: blur(10px);
      transform: translateX(-100%);
      transition: all 1s;
    }
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }  
  
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
  