* {
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  }
  #heading-PP {
    text-align: center;
  }
  #conatiner-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #conatiner-product img {
    width: 100%;
  }
  #conatiner_wishlist_none {
    margin: auto;
    width: 25%;
    text-align: center;
  }
  #conatiner_wishlist_none > button {
    margin-top: 50px;
    padding: 7px;
    background-color: black;
    color: white;
    border-radius: 4px;
    width: 40%;
    font-size: medium;
    cursor: pointer;
  }
  #container-wish {
    text-align: center;
  }